In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error
df = pd.read_csv("/content/drive/MyDrive/FDS2023-24/Advertising.csv")
print(df)
x = df[['TV', 'Radio','Newspaper']]
y = df['Sales']
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.20 , random_state=41)
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
#predict the CO2 emission of a car where the weight is 2300kg, and the volume is 1300cm3:
#predictedCO2 = regr.predict([[2300, 1300]])
pred=regr.predict(x_test)
print(y_test)
print(pred)
r2=r2_score(y_test,pred)
print('r2',r2)
mse=mean_squared_error(y_test,pred)
print('mse',mse)

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]
96     11.7
63     14.0
168    17.1
196     9.7
68     18.9
9      10.6
152    16.6
91      7.3
51     10.7
172     7.6
30     21.4
118    15.9
29     10.5
14     19.0
165    11.9
130     1.6
90     11.2
194    17.3
38     10.1
137    20.8
190    10.8
11     17.4
49      9.7
182     8.7
170     8.4
167    12.2
153    19.0
108     5.3
61     24.2
142    20.1
66      9.5
119     6.6
22      5.6
54     20.2
128    24.7
46     10.6
146    13.2
42     20.7
41     17.1
107     8.7
Name: Sales, dtype: float64
[12.54910238 13.2716228  17.09715323  8.05295279 19.05356877 12.41504677
 16.38743197  4.27090255  9.27469414  7.55460777 21.64051173 15.48275105
  9.00909612 18.43986709 13.92225137 10.52847396  9.89478507 16.61806201
  9.85660626 20.80960985 12.61959385 17.35129385  8.01367974  6.37565182
  7.28739853 13.25262456 18.29104102  3.37088068 22.95571182 19.28514634
  9.0397264   6.72333239  6.3122592  20.45365981 22.49934426  8.71595876
 15.23806961 21.71625094 17.31808226  6.92010305]
r2 0.8819813651740449
mse 3.631878913941108

In [2]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error
df = pd.read_csv("/content/drive/MyDrive/FDS2023-24/data.csv")
print(df)
x = df[['Weight', 'Volume']]
y = df['CO2']
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.20 , random_state=41)
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
#predict the CO2 emission of a car where the weight is 2300kg, and the volume is 1300cm3:
#predictedCO2 = regr.predict([[2300, 1300]])
pred=regr.predict(x_test)
print(y_test)
print(pred)
r2=r2_score(y_test,pred)
print('r2',r2)
mse=mean_squared_error(y_test,pred)
print('mse',mse)

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120
27    114
20     94
8      98
35    120
14     97
17    104
7      92
28    109
Name: CO2, dtype: int64
[109.92856455 107.80378149  98.89147626 102.86974851 102.85283417
 101.09865631 103.74647499 106.63320867]
r2 0.02879088285458975
mse 85.95200686736881